<header class="header">
    <div class="logo">
        <p>Logotype</p>
    </div>
    <button class="hamburger-button">
        <img id="hamburger" alt="menu" src="https://img.icons8.com/android/24/000000/menu.png"
            (click)="toggle=!toggle" />
    </button>
    <nav class="navegation">
        <ul class="list-header" *ngIf="toggle && window < 960 ? false : true">
            <li><a href="https://www.google.com.br/">Home</a></li>
            <li><a href="https://www.google.com.br/">Products</a></li>
            <li><a href="https://www.google.com.br/">Download</a></li>
            <li><a href="https://www.google.com.br/">Store</a></li>
            <li><a href="https://www.google.com.br/">Contact Us</a></li>
        </ul>
        <app-button>{{ labelButton }}</app-button>
    </nav>
</header>