<main class="principal">
    <section class="section">
        <div class="spans">
            <span class="span-questions">Questions?</span>
            <span class="span-contact">Contact us <span role="img" aria-label="smile">:)</span></span>
        </div>
        <form class="form">
            <fieldset>
                <input type="text" placeholder="Name" name="nome" class="text" required>
                <input type="email" placeholder="Email" name="email" class="text" required>
                <input type="text" placeholder="Subject" name="subject" class="subject" required>
                <input type="text" placeholder="Message" name="message" class="message" required>
                <button type="submit" class="send-button">Send</button>
            </fieldset>
        </form>
    </section>