<div class="principal">
    <section class="section">
        <div class="spans">
            <span class="span-questions">Questions?</span>
            <span class="span-contact">Contact us <span role="img" aria-label="smile">:)</span></span>
        </div>
        <form class="form" [formGroup]="formulario">
            <fieldset>
                <input type="text" placeholder="Name" formControlName="name" class="text">
                <input type="email" placeholder="Email" formControlName="email" class="text">
                <input type="text" placeholder="Subject" formControlName="subject" class="subject">
                <input type="text" placeholder="Message" formControlName="message" class="message">
                <button class="button-layout" type="submit" (click)="onSubmit(); validator()"
                    [disabled]="!this.formulario.valid">Send</button>
            </fieldset>
        </form>
    </section>
</div>